@charset "UTF-8";

.top {
  margin-top: 4%;
}

.parent {
  position: relative;
}

.imgfont01 {
  position: absolute;
  color: #FFFFFF;
  top: 17%;
  left: 16%
}

.imgfont02 {
  position: absolute;
  color: #FFFFFF;
  top: 70%;
  left: 55%;
}

.col-15{
  width: 20%;
  flex: 0 0 20%;
}

.mg-rg {
  margin-right: 1%;
}

.btn {
  margin-top: 40px;
  margin-bottom: 40px;
}

.topic {
  margin-top: 5%;
  margin-bottom: 5%;
}

.profile {
  margin-right: 20px;
  margin-left: 40px;
}

.top-mb {
  margin-top: 50px;
}

.navi {
  margin-bottom: 2%;
}

.main {
  margin-bottom: 20%;
}

.main p {
  margin-left: 4%;
  margin-bottom: 45px;
  font-size: 20px;
  line-height: 36px;
}

.imgList {
  width: 90%;
}

.mbicon{
  width: 30px;
}

.lgicon{
  width:24px;
}

.logo{
  width: 270px;
}

.decoration{
  background-image: linear-gradient(transparent 60%, #ffbf7f 90%);
}

.ranking-item {
  margin-top: 10%;
  margin-bottom: 4%;
  font-weight: bold;
}

.ranking-item a{
  color: #333333;
  text-decoration: none;
}

.ranking-item img{
  width: 75%;
}

.ranking-item .rank{
  color: #fff;
  text-shadow: 2px 2px 10px #000000, -2px 2px 10px #000000, 2px -2px 10px #000000, -2px -2px 10px #000000;;
}

/*
hamburger(ハンバーガーアイコン)
=================================== */
.hamburger {
  position: absolute;
  right: 20px;
  top: 48px;
  width: 50px;
  height: 40px;
  cursor: pointer;
  z-index: 300;
}

.hamburger__line {
  position: absolute;
  width: 46px;
  height: 3px;
  right: 0;
  background-color: #000;
  transition: all 0.5s;
}

.hamburger__line--1 {
  top: 1px;
}

.hamburger__line--2 {
  top: 16px;
}

.hamburger__line--3 {
  top: 31px;
}

/*ハンバーガーがクリックされたら*/
.open .hamburger__line--1 {
  transform: rotate(-45deg);
  top: 11px;
}

.open .hamburger__line--2 {
  opacity: 0;
}

.open .hamburger__line--3 {
  transform: rotate(45deg);
  top: 11px;
}

/*
sp-nav(ナビ)
=================================== */
.sp-nav {
  position: fixed;
  left: -100%; /*ハンバーガーがクリックされる前はWindow右側に隠す*/
  top: 0;
  width: 65%; /* 出てくるスライドメニューの幅 */
  height: 100vh;
  background-color: #fff;
  transition: all 0.5s;
  z-index: 200;
  overflow-y: auto; /* メニューが多くなったらスクロールできるように */
}

/*ハンバーガーがクリックされたら右からスライド*/
.open .sp-nav {
  left: 0;
}


/*
black-bg(ハンバーガーメニュー解除用bg)
=================================== */
.black-bg {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 5;
  background-color: #000;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s;
  cursor: pointer;
  z-index: 100;
}

/*ハンバーガーメニューが開いたら表示*/
.open .black-bg {
  opacity: 0.3;
  visibility: visible;
}

.option-container {
  display: flex;
  gap: 10px;
  align-items: center;
}